#polka-dot-collages {
  border: 1px solid red;
}

#polka-dot-writings {
  border: 1px solid green;
}

#polka-dot-jason-photos {
  
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #polka-dot-collages {
    
  }
  #polka-dot-writings {
    
  }
  #polka-dot-jason-photos {
    width: '100%';
    border: 1px solid blue;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}